.PropertiesGrid {
    display: grid; 
    justify-items: center;
}

.RemoveDecoration {
    text-decoration: none;
    color: black;
}

.AshlandCard {
    border-style: solid;
    border-color: gray;
    margin: 0;
    border-radius: 20px;
    max-width: 300px;
}

.AshlandImage {
    height: 40vh;
    object-fit: contain;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-style: solid;
    border-bottom-color: gray;
}

.AshlandDesc {
    overflow-wrap: break-word;
}

.AshlandCard:hover {
    border-color: black;
}

.AshlandCard:hover > .AshlandImage {
    border-bottom-color: black;
}

.Floors {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.LocalArea {
    font-size: 40px;
    margin: 0;
    text-align: start;
    color: black;
}

.BuildingAddy {
    font-size: 40px;
    font-weight: 500;
}

.ExpandButton {
    font-size: 40px;
    background-color: transparent;
    border-style: none;
    margin: 0;
}

.ExpandButtonDiv {
    align-content: center;
}

.ExpandableBanner {
    display: flex;
    flex-direction: row;
    border-top-style: solid;
    margin: 50px 200px 0px 200px;
}

.ConsecutiveBanner {
    display: flex;
    flex-direction: row;
    margin: 0px 200px 0px 200px;
}

.BannerBody {
    border-bottom-style: solid; 
    margin: 0px 200px 0px 200px;
    padding-left: 30px;
    text-align: start;
    font-size: 20px;
}

.HideDiv {
    overflow: hidden;
    height: 0;
    margin: 0;
}

.Units {
    border-top-style: solid;    
    margin: 0px 200px 0px 200px;
}

.UnitCard {
    position: relative;
    border-style: solid;
    border-color: gray;
    border-radius: 20px;
    max-width: 300px;
    z-index: 100;
}

.UnitImage {
    height: 40vh;
    object-fit: contain;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-style: solid;
    border-bottom-color: gray;
}

.UnitDesc {
    overflow-wrap: break-word;
}

.UnitCard:hover {
    border-color: black;
}

.UnitCard:hover > .UnitImage {
    border-bottom-color: black;
}

.UnitTitle {
    font-size: 25px;
    font-weight: 700;
}

.CardFloor {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin: 0 50px;
}

.FloorNumber {
    font-size: 30px;
    border-style: solid;
    border-color: gray;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-width: 250px;
    width: min-content;
    white-space: nowrap; 
    margin: 0;
    position: relative;
    left: 20px;
    top: 5px;
}
